<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat Application</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="row">
            <br>
            <input type="text" class="form-control" id="message" placeholder="Message here">
            <br>
            <br>
          </div>
          <div class="row">
            <span style="color: #1166a4;font-weight: bold">Roger: </span>The quick brown fox jumps over the lazy dog
          </div>
          <div class="row">
            <span style="color: #ab4e1a;font-weight: bold">Roger: </span>The quick brown fox jumps over the lazy dog
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
